<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p>Auteur : <%= link_to @gossip.author.first_name, user_path(@gossip.author) %></p>
<p>Créé le : <%= @gossip.created_at.strftime('%d/%m/%Y') %></p>
